/*                                            *\
 \*   DataBase - Evangelion Ayanami Rei Theme \*
   *\                                           */

@import url(https://dimaskarabas2881.github.io/BetterDiscordThemes/Resourse/DataBase/basic.css);
:root {
    --theme-background: url("https://github.com/DimasKarabas2881/DimasKarabas2881.github.io/blob/main/BetterDiscordThemes/Resourse/Images/ayanami_rei-background.jpg?raw=true");

    --bg-trpcolor: rgba(0, 0, 0, .7);
    --namecolor: white;
}
