/*Изнасилованный обрубок, для того чтобы/делать невидимой значительную часть интерфейса*/ 

:root {
    --bg-image: var(--theme-background);
    --bg-trpcolor: rgba(0, 0, 0, .7);
    --namecolor: white;
}
                                         
 #app-mount .app__160d8 {
  background-color: transparent;
  background-size: cover;
  background-image: var(--bg-image);
}

.scroller__23746,
.container__551b0 /* Discovery */ {
  background: none;
}

.contentWrapper__9c62c {
  background-color: rgba(0, 0, 0, .6);  
  box-shadow: none;
}

.footer__214dc {
  background: none;
}
.gradient__214dc {
  opacity: 0 !important;
}

.theme-dark .scrollerContainer__5d7c9, 
.theme-dark .emptyPage__5d7c9,
.separator__5d7c9 {
  background-color: transparent;
}

#app-mount .container__0b563 /* Channel and Roles */,
#app-mount .header__0b563 {
  background-color: transparent !important;
}

.pageBody__41ed7 {
  background: none;
}

.executedCommand_ec86aa,
.repliedMessage_ec86aa,
.threadMessageAccessory_ec86aa {
  margin-left: 17px;
}

.theme-dark .activityUserPopoutV2__2ef49 .headerText__2ef49, .theme-light .activityUserPopoutV2__2ef49 .headerText__2ef49, .theme-dark .activityBiteSizePopout__2ef49 .headerText__2ef49, .theme-light .activityBiteSizePopout__2ef49 .headerText__2ef49 {
  color: white;
}

.standardSidebarView__23e6b,
.sidebarRegionScroller__23e6b,
.contentRegion__23e6b,
.bg__960e4,
.theme-dark .layer__960e4,
.contentRegionScroller__23e6b,
.scroller__53543 {
  background-color: transparent; /*Settings*/
}

.container__7d20c {
  background: none;
}

.theme-dark .container__2637a,
.sidebar_c48ade,
.panels_c48ade,
.chat_f75fb0,
.messages-3amgkR {
  background-color: transparent;
}

.theme-dark .container__9293f {
  color: white;
  background-color: transparent !important;
}

.exampleContainer_b34334,
.exampleModal_b34334,
.exampleContainer-3KBk_U,
.exampleModal-3D7ypH,
.formFieldWrapper-3IiCRS,
.footer-1voAYT,
.separator-RaufQu,
.containerFooter_eaaeee {
  background-color: transparent;
}

.layers__160d8 {
  background-color: var(--bg-trpcolor);
}

.h5_b717a1,
.description_ddd181,
.labelDescriptor_ddd181,
.colorHeaderPrimary_fbc755 {
  color: white;
}

#app-mount .scrollableContainer__74017 {
  background-color: transparent;
}

.privateChannels__35e86,
.theme-dark .scroller__99e7c,
.theme-dark .container__133bf,
.nowPlayingColumn__133bf,
.scroller_ad8f79,
.scroller_c100ff,
.applicationStore_f07d62,
.scroller__244e5 {
  background: none;
}

.avatar_ec3b75 {
  border: none;
  background-color: transparent;
}

.theme-dark .inset_bf1984,
.section__00943,
.header_c6bf1b,
.titleContainer_e29cd7 {
  background: none;
}

.theme-dark .separator__00943 {
  background: none;
}

.guildSeparator__252b6,
.theme-dark .scroller_ef3116,
.wrapper_ef3116 {
  background: none;
}

.expandedFolderBackground__48112 {
  border-radius: 4px;
  background-color: transparent !important;
}

.theme-dark .pageWrapper_a3a4ce {
  background-color: transparent;
}

.theme-dark .searchBox_d727b3 {
  background-color: transparent;
  box-shadow: none;
}

.background-3X6N7I {
  background-color: transparent;
}

.fieldList__1fed1,
.connectionHeader-2rV1ze,
.integration-1f5IUi {
  background-color: transparent;
}

.phoneField_a0c54f {
  background-color: transparent;
  border: none;
}

.phoneField_a0c54f .inputField_a0c54f {
  background-color: transparent;
  color: white;
}

#app-mount .card__4cb8a,
#app-mount .iconMask__4cb8a {
  background-color: transparent;
}

.upload_aa605f {
  background-color: transparent;
}

.wrapper_fc8177 {
  background-color: transparent;
}

.wrapper_d852db {
  background-color: transparent;
}

.header_a8217b {
  background-color: transparent;
}

.divider_d9c882 {
  background-color: transparent;
}

.notice__5fd4c,
.roleRow__5f97b:before,
.roleRow__5f97b:last-child:after {
  background-color: transparent;
}

.theme-dark .auditLog__43dab {
  border-color: transparent;
}

.container_c8ffbb {
  background: transparent;
}

.theme-dark .outer_c0bea0 {
  background-color: transparent;
}

.theme-dark 
.overlay_c0bea0,
#app-mount .fullSizeOverlayBackground_c0bea0 {
  background-color: transparent;
}

.userProfileInner_c0bea0:before {
  background-color: transparent;
}

.userProfileOuterThemed_c0bea0.userProfileOuter_c0bea0,
.userProfileOuterThemed_c0bea0.userProfileOuter_c0bea0 {
  background: none;
}

.avatar__1fed1 {
  border: none;
  background-color: transparent;
}

.theme-dark .container_f369db {
  background-color: transparent;
}

.mainCard_f369db .input__0f084 {
  background-color: transparent;
}

.sectionDivider__629e4 {
  background-color: transparent;
}

.theme-dark .background_c54132 {
  background-color: transparent;
}

.header_d9c882 {
  background-color: transparent;
}

.container_a8217b {
  background-color: transparent;
  border-radius: 8px;
}

.emptyStateContainer__08276 {
  background-color: transparent;
}

.header_d0b769,
.contentContainer__4325e {
  background-color: transparent;
}

.roleMessagePreview__3efc4 {
  background-color: transparent;
  border: none;
}

.callContainer_ed4410,
.scroller_bb12d2,
.container__93316,
.participants_b3f0267d72 {
  background-color: transparent;
}

.descriptionBox__981f7 {
  background-color: transparent;
  border-radius: 3px;
}

.theme-dark .searchBox_d727b3 {
  background-color: transparent;
  box-shadow: none;
}

.member_c8ffbb,
.members_c8ffbb {
  background-color: transparent;
}

.chatHeaderBar_a5700d {
  background-color: transparent;
}

.container_adb50a {
  background-color: transparent;
}

.theme-dark .gemIndicatorContainer_b03ca0 {
  background-color: transparent;
}

.wrapper_b1e4f3 {
  background-color: transparent;
}

.theme-dark .card_dc2e44 {
  border-color: transparent;
}

.textDivider_d4ced7 {
  background-color: transparent;
}

.scrollTierBackground__35455,
.modalHeader__52f07 {
  background-color: transparent;
}

.sourceThumbnail_a2de16 {
  background-color: transparent;
}

.headerDivider_ec8d1f {
  background-color: transparent;
}

.scroller_d6b206 {
  background-color: transparent;
}

.theme-dark .tierPill-l7DvKo {
  background-color: transparent;
  color: white;
}

.groupCollapsedContainer_b6a9f9 {
  background-color: transparent;
  border: none;
}

.theme-dark .panel_bf1a22 {
  background: none;
}

.theme-dark .activityProfile__2ef49 .activityName__2ef49,
.theme-dark .activityProfile__2ef49 .content__2ef49,
.theme-dark .activityProfile__2ef49 .details__2ef49,
.theme-dark .activityProfile__2ef49 .name__2ef49,
.theme-dark .activityProfile__2ef49 .nameNormal__2ef49,
.theme-dark .activityProfile__2ef49 .nameWrap__2ef49,
.theme-dark .activityProfileV2__2ef49 .activityName__2ef49,
.theme-dark .activityProfileV2__2ef49 .content__2ef49,
.theme-dark .activityProfileV2__2ef49 .details__2ef49,
.theme-dark .activityProfileV2__2ef49 .name__2ef49,
.theme-dark .activityProfileV2__2ef49 .nameNormal__2ef49,
.theme-dark .activityProfileV2__2ef49 .nameWrap__2ef49,
.theme-dark .activityUserPopout__2ef49 .activityName__2ef49,
.theme-dark .activityUserPopout__2ef49 .content__2ef49,
.theme-dark .activityUserPopout__2ef49 .details__2ef49,
.theme-dark .activityUserPopout__2ef49 .name__2ef49,
.theme-dark .activityUserPopout__2ef49 .nameNormal__2ef49,
.theme-dark .activityUserPopout__2ef49 .nameWrap__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .activityName__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .content__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .details__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .name__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .nameNormal__2ef49,
.theme-dark .activityUserPopoutV2__2ef49 .nameWrap__2ef49,
.theme-dark .activityUserPopout__2ef49 [class*="content_"], .theme-dark .activityUserPopout__2ef49 [class*="name_"], .theme-dark .activityUserPopout__2ef49 [class*="details_"], .theme-dark .activityUserPopout__2ef49 [class*="activityName_"], .theme-dark .activityUserPopout__2ef49 [class*="nameNormal_"], .theme-dark .activityUserPopout__2ef49 [class*="nameWrap_"], .theme-dark .activityProfile__2ef49 [class*="content_"], .theme-dark .activityProfile__2ef49 [class*="name_"], .theme-dark .activityProfile__2ef49 [class*="details_"], .theme-dark .activityProfile__2ef49 [class*="activityName_"], .theme-dark .activityProfile__2ef49 [class*="nameNormal_"], .theme-dark .activityProfile__2ef49 [class*="nameWrap_"], .theme-dark .activityProfileV2__2ef49 [class*="content_"], .theme-dark .activityProfileV2__2ef49 [class*="name_"], .theme-dark .activityProfileV2__2ef49 [class*="details_"], .theme-dark .activityProfileV2__2ef49 [class*="activityName_"], .theme-dark .activityProfileV2__2ef49 [class*="nameNormal_"], .theme-dark .activityProfileV2__2ef49 [class*="nameWrap_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="content_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="name_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="details_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="activityName_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="nameNormal_"], .theme-dark .activitySimplifiedProfile__2ef49 [class*="nameWrap_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="content_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="name_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="details_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="activityName_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="nameNormal_"], .theme-dark .activityUserPopoutV2__2ef49 [class*="nameWrap_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="content_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="name_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="details_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="activityName_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="nameNormal_"], .theme-dark .activityBiteSizePopout__2ef49 [class*="nameWrap_"] {
  color: var(--namecolor);
}

.body_c6f1a4 {
  background-color: transparent;
}

.modalHeader_a27f2f {
  background-image: none;
}

.selectPlanDivider_d947e6 {
  background-color: transparent;
}

.separator_bebc5b {
  background-color: transparent;
}

.howItWorksImageContainer_dd30dc {
  background-color: transparent;
}

.checklist_d6d7a8 .header__812a7,
.header__812a7 {
  background-color: transparent;
}

.container-ZSFRqx {
  background-color: transparent;
  border: none;
}

.exampleContainer_b34334,
.exampleModal_b34334,
.exampleContainer-3KBk_U,
.exampleModal-3D7ypH,
.formFieldWrapper-3IiCRS,
.footer-1voAYT,
.separator-RaufQu,
.containerFooter_eaaeee {
  background-color: transparent;
}

.actionContainer_bc4513 {
  background-color: transparent;
}

.keywordTextArea__4546e {
  background-color: transparent;
  border: none;
  color: white;
}

.container_db5301 {
  background-color: transparent;
}

.tagsDivider_d9be46 {
  background-color: transparent;
}

#app-mount .stepperContainer_ed9c90 {
  background: transparent;
  color: white;
}

.separator-3PdcLL {
  background-color: transparent;
}

.cardHeader_b44011 {
  background-color: transparent;
}

.guildSidebar_b962dc,
.modal_b962dc,
.theme-dark .footer_b962dc {
  background-color: transparent;
}

.divider__9db96 {
  background: none;
}

.metadataContainer_c7f964 {
  background-color: transparent;
}

.theme-dark .footer_be95d0 {
  background-color: transparent;
  color: white;
}

.theme-dark .container_cc2dff,
.theme-dark .reactors_cc2dff {
  background-color: transparent;
}

.theme-dark .scroller_cc2dff {
  background: none;
}

.theme-dark .keyboardShortcutsModal_f061f6 {
  background-color: transparent;
}

.chatContent_f75fb0 {
  background: none;
}

.theme-dark .container__37e49 {
  background-color: transparent;
}

.wrapper__4106a,
.paymentNote__56a21 {
  background-color: transparent;
}

.theme-dark .footer__49fc1 {
  background-color: transparent;
}

.modalHeader_ababa2,
.modalBody_ababa2 {
  background-color: transparent;
}

.modalFooter_ababa2 {
  background-color: transparent !important;
}

.divider_eae0ef {
  background-color: transparent;
}

.bar_c8b06d {
  background-color: transparent;
}

.container_fed6d3 {
  background-color: transparent;
}

.theme-dark .sidebarContainer_a3a4ce {
  background: none;
}

.interactionsContainerHeader_af3b89 {
  border-top: none;
  background-color: transparent;
}

.replyInput__5ba62 {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, .25);
}

.container__0f2e8 {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, .25);
  background: none !important;
  ;
}